// All the SCSS Variables goes here

// border
$border-color                       :#e7e7e7;

// form 
$form-label-font-weight             : 600;
$input-focus-box-shadow             : none;        
$input-focus-border-color           : none;
$form-check-input-focus-box-shadow  : none;