<form class="row px-5 pt-3" [formGroup]="threeGroup">
    <div class="mb-3">
        <label for="company" class="form-label"> Company Name </label>
        <input type="text" name="company" id="company" class="form-control" formControlName="company">
    </div>
    <div class="mb-3 col-6">
        <label for="experience" class="form-label"> Experience </label>
        <input type="number" name="experience" id="experience" class="form-control" formControlName="experience">
    </div>
    <div class="mb-3 col-6">
        <label for="tech" class="form-label"> Technology </label>
        <input type="text" name="tech" id="tech" class="form-control" formControlName="tech">
    </div>
    <div class="d-flex justify-content-end gap-4">
        <button class="btn btn-danger" type="button" (click)="onPre()"> Previous </button>
        <button class="btn btn-warning" type="button" (click)="onNext()"> Submit </button>
    </div>
</form>